form{
    width: 400px;
    margin: auto;
    border: 5px solid black;

}
h1, h3{
    width: 500px;
    margin: auto;
    text-align: center;
}

 input[type=text], select {
    
     padding: 12px 20px;
     margin: 12px;
     
     display: inline-block;
       
     border: 3px solid rgb(248, 83, 166);
     border-radius: 4px;
     box-sizing: border-box;
 }
 
 
 input[type=button] {
    
     background-color: #4CAF50;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     
     
     
     padding: 14px 20px;
     margin: 8px 0;
     border: 3px solid rgb(36, 119, 64);
     border-radius: 4px;
     cursor: pointer;
     
 }
 
 input[type=reset] {
    background-color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    
    
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid rgb(36, 119, 64);
    border-radius: 4px;
    cursor: pointer;
    
 }

 input[type=button]:hover {
     background-color: #e8f800;
     
 }
 
 input[type=reset]:hover {
    background-color: #e8f800;
    
}

 .buttonHolder{ text-align: center; }

 textarea{
    border: 3px solid rgb(248, 83, 166); 
    
 }

 table, td{
   /*  border: 1px solid rgb(43, 9, 240);   */
     
 }
 table{
     width: 400px;
     margin: 0% auto;
     text-align: center;
     background-color: aquamarine;
 }